.btnstyle {
  background: none;
  outline: none;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;

  
  background: #eb11f4;
  transition: 0.5s;
  color: azure;
  transform: .3s;
  margin: 5px;

}
.snedbtn{
  background: none;
  outline: none;
  width: 50%;
  border: none;
  border-radius: 6px;
  padding: 10px 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;

  
  background: #eb11f4;
  transition: 0.5s;
  color: azure;
  transform: .3s;
  margin: 5px;
  

}

.btnstyle a{
  color: #ffff;
  text-decoration: none;
  font-size: 13px !important;


}
.btnstyle:hover ,.snedbtn:hover {
  background: #bc14c1 !important;
  color: azure;
}
.wihiteppaerbtn {
  background: none;
  outline: none;
  width: 210px;
  border: none;
  border-radius: 5px;

  padding: 15px 10px;
  font-size: 16px !important;
  font-family: "Montserrat", sans-serif;
  
  background: #ac00bf;

  transition: 0.5s;
  color: rgb(216, 221, 221) !important;
  margin: 10px 10px;
  text-align: center;
}
.btn-center {
  display: flex;
  justify-content: center;
}
.bg-container {
  width: 100%;
  height: auto;

  background: linear-gradient(#09020c, #36265a);
}

.h1 {
  margin-top: 2px;
  text-align: center;
  color: #eb11f4;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.counter {
  /* background: linear-gradient(#09020c,#251a3f ); */
  /* background-color: #1E092F; */
  background-color: #160022;
  /* background: linear-gradient(#160022, #36265a); */

  display: flex;
  justify-content: center;

  align-items: center;
  padding: 15px;
}
.counter img {
  width: 120px;
}
.pre-order-content2{
  padding: 20px 100px;
}
.vr-office{
  display: flex;
  justify-content: center;
}
.vr-office img{
  width: 70%;
}
.vr-video{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .pre-order-content2{
    padding: 20px 40px;
  }
  .table-responsive{
    width: 98% !important;
  }
  .dashboard-heading{
    padding-left: 10px !important;
  }

}
@media only screen and (max-width: 600px) {
  .pre-order-content2{
    padding: 20px 20px;
  }
  .h1 {
    font-size: 30px;
  }
  .inner-Cent h4,
  .text-btn h3 {
    font-size: 20px;
  }
  .wihiteppaerbtn {
    padding: 11px 5px;
    border-radius: 5px;

    width: 150px;
    font-size: 12px !important;
  }
  .counter img {
    width: 90px;

  }
  .about-text{
    width: 97% !important;
  }
  .card1-content>h1{
    font-size: 21px;
  }
  .card1-content>h2{
    font-size: 16px;
  }
  .card1-content>h3 {
    font-size: 14px;
  }
  
  .card1-content>p ,.workerContent p{
    font-size: 13px;
    position: relative;
    padding-bottom: 10px;
  }
  .card1{
    height: auto ;
  }
  .small-card{
    height: auto !important;
}
  .small-card3{
    height: auto !important;
}
.snedbtn{
  width: 100%;
  border-radius: 5px;
}
.input{
  width: 100% ;
}
.linkedin img{
  width: 30px;
  margin-top: 10px;
  
}
.card1-img>img{
  width: 100px;
  height: 100px;
}
.card1-img{
  width: 100px;
  height: 100px;
}
.table th{
  font-size: 13px !important;
}
td{
  font-size: 12px !important;
  
}
caption{
  font-size: 13px !important;
}
}
@media only screen and (max-width: 450px) {
  .pre-order-content2{
    padding: 20px 7px;
  }
  .h1 {
    font-size: 25px;
  }
  .counter img {
    width: 50px;

  }
  .wihiteppaerbtn {
    padding: 11px 5px;
    margin: 4px 0px;
    border-radius: 5px;

    width: 100px;
    font-size: 11px !important;
  }
  .inner-Cent h4,
  .text-btn h3 {
    font-size: 16px;
  }
  .table th{
    font-size: 10px !important;
  }
  td{
    font-size: 11px !important;
    
  }
}
.whitepaper {
}
